* {
    background-color: rgb(255, 254, 245);
}

.instructions {
    width: 400px;
}
.firstimage {
    width: 800px;
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 180px;
}
.pic {
    width: 20%;
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
}

.gif {
    width: 800px;
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 0px;
}


span {
    font-family: "bc-novatica-cyr", sans-serif;
    font-size: 80px;
    color: rgb(0, 0, 0);
}
h1 {
    font-family: "emily-austin", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 90px;
   
       color: rgb(255, 0, 179);
}
h2 {
    font-family: "bc-novatica-cyr", sans-serif;
    text-align: center;
    color: rgb(255, 0, 179);


}
h3 {
    font-family: "bc-novatica-cyr", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    font-size: 90px;

   
       color: rgb(255, 0, 179);
}
p {
    font-family: "bc-novatica-cyr", sans-serif;
    padding-left: 40px;
    font-size: 24px;
    color: rgb(0, 0, 0);


}
h5 {
    font-family: "emily-austin", sans-serif;
    padding-left: 40px;
    font-size: 50px;
    color: rgb(255, 0, 179);

}


h3 {
    font-family: "emily-austin", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 80px;
    padding-right: 40px;
    padding-left: 40px;



}

<style>
    .text {
        color: black; /
        font-size: 18px; }

    .text:hover {
        color: rgb(0, 0, 0); 
        transition: .5s;
    }
</style>



.bottom {
    position: fixed;
   
    height: 20%;
    z-index: 9999;
}